In [1]:
import pandas as pd

/var/folders/gq/kpjsyrz11tb3tktf07l86tqr0000gn/T/ipykernel_19436/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
data = pd.read_csv('artist-main-genre.csv')

In [3]:
data

                 artist    genre
0             Sean Paul      pop
1           Chris Brown      pop
2            Nickelback     rock
3                 Ne-Yo      rap
4              The Fray      pop
..                  ...      ...
568  Tyler, The Creator      rap
569            Lil Tjay      rap
570            Anuel AA      rap
571          Chase Rice  country
572     Scotty McCreery  country

[573 rows x 2 columns]

In [5]:
data.set_index('artist')

                      genre
artist
Sean Paul               pop
Chris Brown             pop
Nickelback             rock
Ne-Yo                   rap
The Fray                pop
...                     ...
Tyler, The Creator      rap
Lil Tjay                rap
Anuel AA                rap
Chase Rice          country
Scotty McCreery     country

[573 rows x 1 columns]

In [13]:
data.reset_index
data

                 artist    genre
0             Sean Paul      pop
1           Chris Brown      pop
2            Nickelback     rock
3                 Ne-Yo      rap
4              The Fray      pop
..                  ...      ...
568  Tyler, The Creator      rap
569            Lil Tjay      rap
570            Anuel AA      rap
571          Chase Rice  country
572     Scotty McCreery  country

[573 rows x 2 columns]

In [18]:
data.loc[data['artist'] == 'Sean Paul', 'genre'].values[0]

'pop'

In [20]:
selected_genre = data.groupby('genre')
selected_artist = 'Sean Paul'

In [25]:
similar_artists = data.loc[data['genre'] == 'pop', 'artist'].tolist()
similar_artists[0:3]

['Sean Paul', 'Chris Brown', 'The Fray']